<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M9XJ5SSQ');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Taboola Pixel Code -->
    <script type='text/javascript'>
      window._tfa = window._tfa || [];
      window._tfa.push({notify: 'event', name: 'page_view', id: 2021768});
      !function (t, f, a, x) {
             if (!document.getElementById(x)) {
                t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
             }
      }(document.createElement('script'),
      document.getElementsByTagName('script')[0],
      '//cdn.taboola.com/libtrc/unip/2021768/tfa.js',
      'tb_tfa_script');
    </script>
    <!-- End of Taboola Pixel Code -->
    
    <!-- Taboola Pixel Code -->
    <script>
        _tfa.push({notify: 'event', name: 'view_content', id: 2021768});
    </script>
    <!-- End of Taboola Pixel Code -->
